$navbar: #255296;
$tableRowContrast: #e1edff;
$secondary: #dedffb;
$sidebar: #323366;
$button: #5395f8;
$buttonHighlight: #84b3fa;
$deleteRed: #ca0909;
$deleteRedHighlight: #ca090981;
$downloadButton: #e5f0ff;
$controllerSidebarLabel: #babcfe;
$statusUnfinished: #ffe1e1;
$statusPartial: #ff9d00;
$statusFinished: #05ca4f;
$controllerPartial: #ff9d00;
$notesBackground: #eeeffc;
$controllerGrey: #eeeeee;
$controllerBorder: #cecece;
$loginBackground: #f3f4fe;
$dashboardManagementSidebarBackground: #dddef2;
$dashboardManagementSidebarText: #474878;
$dashboardButtonHighlight: #323366;
