$drawerWidth: 240px;
$navHeight: 48px;
$buttonGroupHeight: 44px;
$controllerButtonWidth: 160px;
$verticalMovementWidth: 60px;

:export {
    drawerWidth: $drawerWidth;
    verticalMovementWidth: $verticalMovementWidth;
}
