@import '../../styles/colors.scss';

.manage-patient-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    .controller-manage-patient-wrapper {
        background-color: white;
        border-radius: 5px;
        padding: 30px;
        width: 80%;
        overflow-y: scroll;
        height: 80vh;

        .text-field {
            margin-bottom: 20px;
        }

        &.controller-manage-patient-wrapper-ar {
            text-align: right;
        }

        .manage-patient-header {
            height: 30px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .profile-information-wrapper {
            margin-bottom: 30px;
        }

        .profile-management-wrapper {
            margin-bottom: 30px;
        }

        .manage-patient-footer {
            display: flex;
            justify-content: space-between;
            .manage-patient-save-button,
            .manage-patient-delete-button {
                color: white;
                padding: 0 24px 0 24px;
                height: 38px;
                width: auto;
                font-size: 12px;
                font-weight: bold;
                transition: all 0.2s;
                border-radius: 2px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
            }
            .manage-patient-save-button {
                background-color: $button;
                margin-right: 5px;
                &:hover {
                    background-color: $buttonHighlight;
                }
            }
            .manage-patient-delete-button {
                background-color: $deleteRed;
                &:hover {
                    background-color: $deleteRedHighlight;
                }
            }
        }
    }
}
