@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.sidebar-retracted {
    width: $drawerWidth;
}

.sidebar-expanded {
    width: $drawerWidth + 3 * $verticalMovementWidth;
}

.detail-paper {
    background-color: $dashboardManagementSidebarBackground;
}

.sidebar {
    display: flex;
    flex-shrink: 0;
    padding: 0;
    background-color: $dashboardManagementSidebarBackground;

    .sidebar-container {
        margin-top: $navHeight;
        padding: 0;
        background-color: $dashboardManagementSidebarBackground;
        margin-bottom: $navHeight;

        .sidebar-button-container {
            overflow: 'auto';
            display: flex;
            height: $navHeight;
            justify-content: space-between;
            flex-direction: row;

            .button {
                display: inline-block;
                color: $dashboardManagementSidebarText;
                background-color: $dashboardManagementSidebarBackground;
                height: $navHeight;
                line-height: $navHeight;
                font-weight: 600;

                &:hover {
                    background-color: $dashboardButtonHighlight;
                    color: white;
                }
            }

            .main-button,
            .main-button-ar {
                padding-left: 10px;
                min-width: $drawerWidth;
            }

            .main-button {
                padding-left: 10px;
            }

            .main-button-ar {
                padding-right: 10px;
            }

            .order-button {
                min-width: $verticalMovementWidth;
                text-align: center;
            }

            .selected {
                background-color: #5253a1;
                color: white;
            }

            .hidden {
                background-color: #5253a141;
                color: #00000077;
            }
        }
    }
}

.side-bottom-bar-retracted {
    width: $drawerWidth !important ;
}

.side-bottom-bar-expanded {
    width: $drawerWidth + 3 * $verticalMovementWidth !important;
}

.side-bottom-bar-wrapper {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: #dddef2 !important;
    z-index: 100;

    .side-bottom-bar-toolbar {
        min-height: 56px;

        .edit-steps-button {
            background-color: $button;
            color: white;
            padding: 0 24px 0 24px;
            height: 38px;
            width: 90%;
            position: absolute;
            font-size: 12px;
            font-weight: bold;
            transition: all 0.2s;
            border-radius: 2px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
            &:hover {
                background-color: $buttonHighlight;
            }
        }
    }
}
