@import '../../styles/colors.scss';

.table3dp4me {
    font-family: 'Ubuntu';

    .MuiTableCell-head {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .header {
        border-top: solid $navbar 1px;
        border-bottom: solid $navbar 1px;
        background-color: $sidebar;
        font-size: 12px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
        }
    }

    .cell-right {
        padding-right: 2% !important;
        text-align: end;
    }

    .table-view-link {
        text-decoration: none;
        display: flex;
        float: right;
        margin-right: 20%;
        align-items: center;
        color: $button;
        font-size: "13px";
        font-weight: bolder;
        .view-icon {
            color: $button;
            fill: $button;
        }
    }

    .dropdown-arrow {
        font-size: 24px;
    }

    .cell {
        font-size: 13px;
        padding-top: 3.85px;
        padding-bottom: 3.85px;
        padding-left: 20px;
        div {
            display: flex;
            align-items: center;
        }
    }

    .cell-rtl {
        font-size: 13px;
        padding-top: 3.85px;
        padding-bottom: 3.85px;
        padding-right: 30px;
    }

    .cell-align {
        align-items: center;
        display: flex;
        justify-content: left;
        margin-left: 5px;
    }

    .cell-align-rtl {
        align-items: center;
        display: flex;
        justify-content: right;
        margin-left: 5px;
    }
}
