// Styles for the pagination component

.paginate-container {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    background-color: #323366;
    height: 10vh;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
  }
  
.paginate-container li {
    margin: 25px;
    display: inline-block;
}

.paginate-page, .paginate-active {
    min-width: 50px;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    color: white;
}


.paginate-previous, .paginate-next  {
    min-width: 50px;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    color: white;
}

.paginate-active {
    border: 2px solid white;
    border-radius: 5px;
}

.paginate-link {
    color: white;
    font-size: 20px;
}

.paginate-link:hover  {
    color: rgb(211, 210, 210);
}
