.patient-info {
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden;
    padding-top: 20px;
    justify-content: center;
}

.sidebar-content {
    text-align: center;
}

.patient-content {
    /* position: fixed; */
    margin-left: 200px;
    /* font-size: 28px; */
    padding: 0px 10px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    margin-bottom: 0;
}

.patient-content::-webkit-scrollbar {
    display: none;
}