@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.root {
    display: flex;
    //min-height: 100vh;
}

.controller-content {
    width: 100%;
    height: 100%;

    &.controller-content-ar {
        margin-right: $drawerWidth;
    }

    .steps {
        padding-left: 50px;
        padding-bottom: 100px;

        &.steps-ar {
            margin-right: 50px;
        }
    }

    .controller-manage-patient-swal {
        width: 580px;
    }
}


// these two are the reason main isnt under sidebar, wasnt here og
.sidebar {
  width: 300px;
  flex-shrink: 0;
  //background-color: #323366; //changed
  //color: white;  //changed
}

.main-content {
  flex: 1;
  padding: 0 32px;
  //min-width: 0; //change 
}

//.root.rtl {
  //flex-direction: row-reverse;
//}

