@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.root {
    min-height: 100vh;
    /* full height */
    background: #fff;
    /* no transparent stripes */
    box-sizing: border-box;
}

.controller-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    &.controller-content-ar {
        flex-direction: row-reverse;
    }

/*.steps {
        padding-left: 50px;
        padding-bottom: 100px;

        &.steps-ar {
            margin-right: 50px;
        }
    }*/
.steps {
    flex: 1;
    margin-left: 300px; // for LTR
}

.steps-ar {
    margin-left: 0;
    margin-right: 300px; // for RTL
}
}

.controller-manage-patient-swal {
    width: 580px;
}

/* .layout {
  display: flex;
  flex-direction: row;
}

.layout.rtl {
  flex-direction: row-reverse;
}

.controller-content {
  flex: 1;
  margin-left: 300px;
}

.layout.rtl .controller-content {
  margin-left: 0;
  margin-right: 300px;
}*/

/* width of your sidebar = 300 px; colour = white */
.content-guard-en {
    border-left: 300px solid #fff;
}

.content-guard-ar {
    border-right: 300px solid #fff;
}