@import '../../styles/colors.scss';

.tabs {
    display: flex;
}

.patient-list .header .section {
    display: flex;
    margin-left: 5%;

    .patient-list-title {
        flex-grow: 1;
    }

    .patient-list-title-ar {
        flex-grow: 1;
        margin-right: 10px;
    }

    .patient-list-search-field {
        margin-right: 10px;
    }
}

.section {
    display: flex;
    align-items: center;
}

.button {
    background: $downloadButton;
}

.dashboard {
    margin-top: 5%;

    .dashboard-button-group {
        width: 100%;

        .dashboard-button {
            flex-grow: 1;
            color: black;
        }
    }
}

@media only screen and (max-width: 800px) {
    .dashboard {
        margin-top: 10%;
    }
}
