@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.patient-list .header .section {
    display: flex;
    margin-left: 2%;

    .patient-list-title {
        flex-grow: 1;
    }

    .patient-list-title-ar {
        flex-grow: 1;
        margin-right: 10px;
    }

    .patient-list-search-field {
        margin-right: 10px;
    }
}

.section {
    display: flex;
    align-items: center;
}

.button {
    background: $downloadButton;
}

.dashboard {
    margin-top: $navHeight;
}
