@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.tabs {
    display: flex;
}

.swal {
    background-color: $button;
    color: white;
    padding: 10px 30px 10px 30px;
    margin-right: 10px;
    &:hover {
        background-color: $button;
    }
}

.patient-list .header .section {
    display: flex;
    margin-left: 2%;

    .patient-list-title {
        flex-grow: 1;
    }

    .patient-list-title-ar {
        flex-grow: 1;
        margin-right: 10px;
    }

    .patient-list-search-field {
        margin-right: 10px;
    }

    .create-patient-button {
        background-color: $button;
        color: white;
        padding: 10px 30px 10px 30px;
        margin-right: 10px;
        &:hover {
            background-color: $button;
        }
    }
}

.section {
    display: flex;
    align-items: center;
}

.button {
    background: $downloadButton;
}

.dashboard {
    margin-top: $navHeight;

    .dashboard-button-group {
        flex-grow: 1;
        width: 100%;
        height: $buttonGroupHeight;
        background-color: $controllerGrey;

        .dashboard-button {
            padding: 18px 38px;
            color: black;
            border-color: $controllerBorder;
            border-bottom: 0;
            border-top: 0;
            background-color: $controllerGrey;

            &.active {
                background: white;
            }
        }
    }
}
