@import '../../styles/colors.scss';

.take-photo-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    .take-photo-modal-wrapper {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 8px;
        min-width: 40%;
        padding: 10px;
        z-index: 0; // This z-index value prevents the react-html5-camera-photo Camera component from being placed under the .take-photo-modal-wrapper div

        .button-wrapper {
            display: flex;
            justify-content: flex-end;
            margin-left: 20px;
        }
    }
}

.image-gallery {
    width: 30%;
}
