$navbar: #255296;
$tableRowContrast: #E1EDFF;
$secondary: #DEDFFB;
$sidebar: #323366;
$button: #5395F8;
$buttonHighlight: #84b3fa;
$downloadButton: #E5F0FF;
$controllerSidebarLabel: #BABCFE;
$statusUnfinished: #FFE1E1;
$statusPartial: #ff9d00;
$statusFinished: #05CA4F;
$controllerPartial: #ff9d00;
$notesBackground: #EEEFFC;
$controllerGrey: #EEEEEE;
$controllerBorder: #CECECE;