$navbar: #255296;
$tableRowContrast: #E1EDFF;
$secondary: #DEDFFB;
$sidebar: #323366;
$button: #5395F8;
$downloadButton: #E5F0FF;
$controllerSidebarLabel: #BABCFE;
$statusUnfinished: #FFE1E1;
$statusPartial: #F2E9C7;
$statusFinished: #05CA4F;
$controllerPartial: #DDC66A;
$notesBackground: #EEEFFC;
$controllerGrey: #ECECEC;
$controllerBorder: #BDBCBC;