@import '../../styles/colors.scss';

.delivery-wrapper {
    .input-field {
        background: $secondary;
    }

    .active-input {
        background-color: white;
    }

    .delivery-address-label {
        padding: 0;
    }
}