@import '../../styles/colors.scss';

.record-modal,
.playback-modal {
    .modal-wrap {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .modal-inner {
        background-color: white;
        padding: 28px;
        border-radius: 4px;
    }
    .btn-toggle-record {
        margin-left: auto;
        margin-right: auto;
        display: block;
        background-color: transparent;
        border-radius: 2px;
        border: solid 1px red;
        color: red;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-top: 12px;
        margin-bottom: 28px;
        img {
            height: 18px;
            width: auto;
            margin-right: 4px;
        }
    }
    .bottom-butts {
        display: flex;
        justify-content: flex-end;
        .btn-save-recording {
            background-color: $button;
            color: white;
            transition: all 0.2s;
            margin-right: 4px;
            border-radius: 2px;
            &:hover {
                background-color: $buttonHighlight;
            }
        }
        .btn-close-playback {
            display: block;
            margin-top: 12px;
        }
    }
}

.playback-modal {
}

.btn-toggle-record {
}

.btn-save-recording {
}

.btn-discard-recording {
}

.btn-close-playback {
}

.files-wrapper {
    height: 100%;
    width: 380px;
    border: solid black 1px;
    margin-right: 15px;

    .files-header {
        display: flex;
        height: 38px;
        align-items: center;
        background-color: $secondary;
        color: black;
        padding-left: 10px;

        h3 {
            font-weight: 100;
        }
    }

    .files-table {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: auto;

        .file-row-wrapper {
            display: inherit;
            justify-content: space-between;
            width: 100%;
        }

        .file-button {
            justify-content: flex-start;
            width: 100%;
        }

        .file-info-wrapper {
            display: flex;
            flex-direction: row;
            #file-upload-timestamp {
                line-height: 0;
                color: grey;
            }
        }

        .file-close-button {
            background-color: white;
            border: none;
            height: 100%;
            &:hover {
                cursor: pointer;
            }
        }

        .upload-file-input {
            display: none;
        }
    }
}
