files:
  "/etc/nginx/certs/server.crt":
    mode: "000644"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      ${SERVER_CRT}
      -----END CERTIFICATE-----

  "/etc/nginx/certs/server.key":
    mode: "000600"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      ${SERVER_KEY}
      -----END PRIVATE KEY-----
