.controller-content {
    flex-grow: 1;
    margin-top: 10px;
}

.steps {
    padding-left: 15px;
}

/* .flip {
    margin: 0 auto;
    width: 300px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
} */