@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.root {
    display: flex;

    .unfinished-icon {
        color: red;
    }
    
    .partial-icon {
        color: $controllerPartial;
        font-size: 22px;
        margin-right: 5px;
    }

    .drawer {
        width: $drawerWidth;
        flex-shrink: 0;
    }

    .drawer-rtl {
        flex-shrink: 0;
    }

    .drawer-paper {
        width: $drawerWidth;
        background-color: $sidebar;
        color: white;
    }

    .drawer-container {
        overflow: 'auto';
        padding: 20px;
    }

    .drawer-text {
        font-size: 16px;
    }

    .drawer-text-label {
        font-size: 14px;
        color: $controllerSidebarLabel;
    }

    .drawer-text-section {
        margin-bottom: 30px;
    }

    .drawer-notes-wrapper {
        margin-top: 3px;

        .expand-icon {
            color: $button;
        }
    }
}

.controller-content {
    flex-grow: 1;
    min-height: 100vh;
    height: fit-content;

    &.controller-content-ar {
        margin-right: $drawerWidth;
    }

    .controller-content-header {
        width: 100%;
        height: 100%;
        background-color: $tableRowContrast;
        padding: 50px 0px 0px;
    }

    .steps {
        padding-left: 50px;
        padding-bottom: 100px;

        &.steps-ar {
            margin-right: 50px;
        }
    }

    .controller-button {
        &.default-button {
            margin-right: 15px;
            border-radius: 10px 10px 0px 0px;
        }

        &.unfinished {
            background: $statusUnfinished;
            color: red;
            &:hover { background: $statusUnfinished; }
        }

        &.partial {
            background: white;
            color: $controllerPartial;
            &:hover { background: white; }
        }

        &.finished {
            background: white;
            color: black;
            &:hover { background: white; }
        }

        &.active {
            border-top: solid $sidebar 5px;
        }
    }
}
