@import '../../styles/colors.scss';

.table-container {
    height: 80vh;
    width: 90%;
    margin: auto;
    margin-top: 6px;
}

.table {
    font-family: 'Ubuntu';
    // min-width: 700;

    .header {
        border-top: solid $navbar 1px;
        border-bottom: solid $navbar 1px;
        background-color: $sidebar;
        color: white;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
        }
    }

    .MuiTableCell-head {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .table-view-link {
        text-decoration: none;
        display: flex;
        margin-right: 8%;
        float: right;
        text-align: right;
        align-items: center;
        color: $button;
        font-size: 13px;
        font-weight: bolder;
        .view-icon {
            color: $button;
            fill: $button;
        }
    }

    .dropdown-arrow {
        font-size: 24px;
    }

    .cell {
        font-size: 13px;
        padding: 0px;
        padding-left: 20px;
        div {
            display: flex;
            align-items: center;
        }
    }

    .cell-rtl {
        font-size: 13px;
        padding: 0px;
        padding-right: 30px;
    }

    .cell-align {
        align-items: center;
        display: flex;
        justify-content: left;
        margin-left: 5px;
    }

    .cell-align-rtl {
        align-items: center;
        display: flex;
        justify-content: right;
        margin-left: 5px;
    }
}
