.note-section {
    width: 350px;
    margin-top: 50px;
}

.note-header {
    background-color: #6295e0;
    color: white;
    padding: 2px;
    padding-left: 10px;
}

.note-body {
   min-width: 98%;
   max-width: 98%;
   font-family: "Ubuntu";
   color: '#e5f0ff';
   max-height: 300px;
   min-height: 100px;
}