.download-section {
    width: 300px;
}

.download-header {
    background-color: #6295e0;
    color: white;
    padding: 2px;
    padding-left: 10px;
}

.download-button {
    background-color: #e5f0ff;
}

.download-btn-text {
    display: flex;
    cursor: pointer;
}
