.section-management-container {
    display: flex;
    flex-direction: row;
}
.sidebar {
    max-width: 240px;
    border: 1px solid #483d8b;
    color: #483d8b;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
    border-radius: 0;
    border-color: #483d8b;
    background-color: rgb(255, 255, 255);
    transition: 0.8s ease;
    position: relative;
    top: 50px;
}
