.navbar {
    background-color: white;
}

.nav-item {
    text-decoration: none;
    margin-left: 2%;
    color: black;
}
#nav-title {
    flex-grow: 1;
}

.wrap-nav {   
    margin-top: 4%;
}

@media only screen and (max-width: 800px) {
    .wrap-nav {
        margin-top: 10%;
    }
}

.active {
    font-weight: bolder;
}