.navbar {
    background-color: white;
    font-family: 'Roboto', sans-serif;

    .logo-ar {
        margin-left: 15px;
    }

    .nav-item {
        text-decoration: none;
        margin: 0 16px 0 16px;
        color: black;
        font-size: 14px;
    }

    #nav-title {
        flex-grow: 1;
        margin: 0 10px 0 10px;
        font-size: 18px;
    }
    
    .active {
        font-weight: bolder;
    }

    .accountCircle {
        fill: black;
        font-size: 30px;
        margin: 0 8px;
        opacity: 0.4;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
}
