.navbar {
    background-color: white;

    .logo-ar {
        margin-left: 15px;
    }

    .nav-item {
        text-decoration: none;
        margin-left: 2%;
        color: black;
    }

    #nav-title {
        flex-grow: 1;
    }
    
    .active {
        font-weight: bolder;
    }
    
    .user-avatar {
        margin-left: 20px;
        margin-right: 10px;
    }
}
