@import '../../styles/colors.scss';

.feedback-wrapper {
    .input-field {
        background: $secondary;
        margin-left: 13px;
    }

    .active-input {
        background: white;
        margin-left: 13px;
    }
}