@import '../../styles/colors.scss';

.files-wrapper {
    height: 100%;
    width: 380px;
    border: solid black 1px;
    margin-right: 15px;

    .files-header {
        display: flex;
        height: 38px;
        align-items: center;
        background-color: $secondary;
        color: black;
        padding-left: 10px;
    
        h3 { font-weight: 100; }
    }

    .files-table {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: auto;

        .file-row-wrapper {
            display: inherit;
            justify-content: space-between;
            width: 100%;
        }

        .file-button {
            justify-content: flex-start;
            width: 100%;
        }

        .file-info-wrapper {
            display: flex;
            flex-direction: row;
            #file-upload-timestamp { line-height: 0; color: grey; }
        }

        .file-close-button {
            background-color: white;
            border: none;
            height: 100%;
            &:hover { cursor: pointer; }
        }

        .upload-file-input {
            display: none;
        }
    }
}
