@import '../../styles/colors.scss';

.files-wrapper {
    width: 380px;
    border: solid black 1px;

    .files-header {
        background-color: $secondary;
        color: black;
        padding: 1px;
        padding-left: 10px;
    
        h3 { font-weight: 100; }
    }

    .files-table {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: auto;

        .file-button {
            width: 100%;
            justify-content: flex-start;
        }

        .upload-file-input {
            display: none;
        }
    }
}
