@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.all-patients-header .header .section {
    display: flex;
    margin-left: 2%;
    width: 90%;
    margin: auto;

    .all-patients-header-text {
        flex-grow: 1;
    }

    .all-patients-header-text-ar {
        flex-grow: 1;
        margin-right: 10px;
    }

    .all-patients-search-field {
        margin-right: 10px;
        width: 25%;
        background-color: #eeeeee;
    }

    .create-patient-button {
        background-color: $button;
        color: white;
        padding: 10px 30px 10px 30px;
        margin-right: 10px;
        width: 12%;
        &:hover {
            background-color: $button;
        }
    }
}

.all-patients {
    margin-top: $navHeight + 20;
}