@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.all-patients-header .header .section {
    display: flex;
    margin-left: 2%;
    width: 90%;
    margin: auto;

    .all-patients-header-text {
        flex-grow: 1;
    }

    .all-patients-header-text-ar {
        flex-grow: 1;
        margin-right: 12px;
    }

    .archive-button {
        width: 32px;
        &:hover {
            cursor: pointer;
        }
    }

    .all-patients-search-field {
        margin-right: 12px;
        width: 300px;
        background-color: #eeeeee;
        border-radius: 2px;
        .MuiOutlinedInput-root {
            border-radius: 2px;
        }
    }

    .create-patient-button {
        background-color: $button;
        color: white;
        padding: 0 24px 0 24px;
        height: 38px;
        width: auto;
        font-size: 12px;
        font-weight: bold;
        transition: all 0.2s;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        &:hover {
            background-color: $buttonHighlight;
        }
    }
}

.all-patients {
    margin-top: $navHeight + 20;
}