@import '../../styles/colors.scss';

.step-field {
    margin-top: 25px;
}

.prev-button,
.next-button {
    margin-top: 10px !important;
}

.medical-info {
    margin-bottom: 20px;

    .last-edited-formatting {
        margin: 0 0 0;
        align-self: center;
    }

    .last-edited-and-view-selection-EN {
        display: flex;
        justify-content: space-between;
        margin-right: 24px;

        .last-edited-EN {
            padding-right: 10px;
        }
        .view-selection-EN {
            padding-left: 10px;
        }
    }

    .last-edited-and-view-selection-AR {
        display: flex;
        justify-content: space-between;
        margin-left: 24px;

        .last-edited-AR {
            padding-left: 10px;
        }
        .view-selection-AR {
            padding-right: 10px;
        }
    }

    .backdrop {
        z-index: 1;
        color: white;
    }

    .patient-divider-wrapper {
        display: flex;

        .patient-divider {
            padding: 1px;
            background: black;
            width: 80%;
            margin: auto;
        }
    }

    .input-field {
        background: $secondary;
    }

    .active-input {
        background: white;
    }

    .upload-button-wrapper {
        margin-top: 15px;

        .button-edit {
            background-color: $button;
            color: white;
            padding: 0 24px 0 24px;
            height: 38px;
            width: auto;
            font-size: 12px;
            font-weight: bold;
            transition: all 0.2s;
            border-radius: 2px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
            &:hover {
                background-color: $buttonHighlight;
            }
        }

        .button-no-edit {
            padding: 0 24px 0 24px;
            height: 38px;
            width: auto;
            font-size: 12px;
            font-weight: bold;
        }
    }
}

.submit-group {
    margin-top: 10px;
}
