@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.bottom-bar-wrapper {
    .bottom-toolbar {
        min-height: 56px;
    }

    .editor-section {
        flex-grow: 1;
        margin-left: $drawerWidth;
    }

    .status-selector {
        margin-right: 12px;
        padding: 6px 24px 6px 24px;
    }

    .status-selector-ar {
        margin-left: 12px;
        padding: 6px 24px 6px 24px;
    }

    .save-button {
        background-color: $button;
        color: white;
        padding: 0 24px 0 24px;
        height: 38px;
        width: auto;
        font-size: 12px;
        font-weight: bold;
        transition: all 0.2s;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        &:hover {
            background-color: $buttonHighlight;
        }
    }

    .save-button-ar {
        background-color: $button;
        color: white;
        padding: 0 24px 0 24px;
        height: 38px;
        width: auto;
        font-size: 12px;
        font-weight: bold;
        transition: all 0.2s;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        &:hover {
            background-color: $buttonHighlight;
        }
    }

    .discard-button {
        background-color: white;
        color: #5f5f5f;
        font-size: 12px;
        padding: 6px 24px 6px 24px;
        transition: all 0.2s;
        &:hover {
            color: black;
            background-color: white;
        }
    }

    .status {
        margin-right: 20px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;

        &.unfinished {
            color: red;
        }

        &.partial {
            color: $controllerPartial;
        }

        &.finished {
            color: black;
        }
    }

    .edit-button {
        background-color: $button;
        color: white;
        padding: 0 24px 0 24px;
        height: 38px;
        width: auto;
        font-size: 12px;
        font-weight: bold;
        transition: all 0.2s;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        &:hover {
            background-color: $buttonHighlight;
        }
    }

    .status-icon {
        width: 16px;
        height: auto;
        margin-right: 6px;
    }
}