@import '../../styles/variables.scss';

.content-container {
    margin: 10px;
    width: 97%;
    margin-bottom: $navHeight + 20px;

    .header {
        font-weight: 700;
    }

    .retracted-arabic-field-container {
        margin-right: -$drawerWidth !important;
    }

    .expanded-arabic-field-container {
        margin-right: -($drawerWidth + 3 * $verticalMovementWidth) !important;
    }

    .add-subfield-button {
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 7px;
        padding: 1px;
        &:hover {
            color: gray;
        }
    }

    .step-field-container {
        background-color: #f6f6f6;
        border: #f6f6f6 solid 1px;
        width: 100%;
        border-radius: 10px;
        margin: 7px;
        padding: 1px;

        .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: 9px;

            .info {
                width: 100%;
                display: flex;
                flex-direction: column;

                .subfield-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    background: rgba(255, 255, 255, 1);
                    margin-top: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    min-height: min-content;
                }
            }

            .subfield-buttons {
                flex-direction: column;
            }

            .field-buttons {
                flex-direction: row;
            }

            .subfield-buttons,
            .field-buttons {
                display: flex;
                align-self: flex-start;

                .edit-field-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.4em;
                    &:hover {
                        color: gray;
                    }
                }

                .reorder-field-buttons,
                .reorder-subfield-buttons {
                    display: flex;
                    font-size: 1em;
                }

                .reorder-field-buttons {
                    flex-direction: column;
                }

                .reorder-subfield-buttons {
                    flex-direction: row;
                }

                .up-button {
                    &:hover {
                        color: gray;
                    }
                }

                .down-button {
                    &:hover {
                        color: gray;
                    }
                }
            }
        }

        .bottom-container {
            background-color: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding-inline-start: 10px;
        }
    }

    .hidden-step-field-container {
        background-color: hsl(0, 4%, 78%);
        border: #f6f6f6 solid 1px;
        width: 100%;
        border-radius: 10px;
        margin: 7px;
        padding: 1px;
        color: hsla(0, 0%, 0%, 0.466);

        .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: 9px;

            .info {
                width: 100%;
                display: flex;
                flex-direction: column;

                .subfield-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    background: rgba(255, 255, 255, 1);
                    margin-top: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    overflow-y: hidden;
                    overflow-x: auto;
                }
            }


            .buttons,
            .field-buttons {
                align-self: flex-start;
                display: flex;
                flex-direction: row;

                .edit-field-button {
                    display: flex;
                    align-items: center;
                    font-size: 1.4em;
                    &:hover {
                        color: gray;
                    }
                }

                .reorder-buttons {
                    display: flex;
                    flex-direction: column;
                    font-size: 1em;
                }

                .reorder-field-buttons,
                .reorder-subfield-buttons {
                    display: flex;
                    font-size: 1em;
                }

                .reorder-field-buttons {
                    flex-direction: column;
                }

                .reorder-subfield-buttons {
                    flex-direction: row;
                }

                .up-button {
                    &:hover {
                        color: gray;
                    }
                }

                .down-button {
                    &:hover {
                        color: gray;
                    }
                }
            }
        }

        .bottom-container {
            background-color: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding-inline-start: 10px;
        }
    }
}
