@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.root {
    display: flex;

    #profile-pic {
        width: 100%;
        margin-bottom: 15px;
    }

    .drawer {
        width: $drawerWidth;
        flex-shrink: 0;
    }

    /*i cahnged this from .drawer-rtl {flex-shrink: 0 ;}*/
    .drawer-rtl {
        width: 300px;
        flex-shrink: 0;
        position: fixed;
        right: 0;
        left: auto;
        top: 0;
        height: 100vh;
        z-index: 1200; /* ensure it is above other content */
        background-color: $sidebar;
        color: white;
    }

    .drawer-paper {
        width: $drawerWidth;
        background-color: $sidebar;
        color: white;
    }

    .drawer-container {
        overflow: 'auto';
        padding: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .drawer-text {
        font-size: 16px;
    }

    .drawer-text-label {
        font-size: 14px;
        color: $controllerSidebarLabel;
    }

    .drawer-text-section {
        margin-bottom: 30px;
    }

    .drawer-notes-wrapper {
        margin-top: 3px;

        .expand-icon {
            color: $button;
        }
    }

    .manage-patient-button {
        background-color: $button;
        color: white;
        padding: 0 24px 0 24px;
        height: 38px;
        width: auto;
        font-size: 12px;
        font-weight: bold;
        transition: all 0.2s;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        &:hover {
            background-color: $buttonHighlight;
        }
    }
}
